@font-face {
	font-family: 'adellelight';
	src: url("http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE-Light.eot");
	src: url("http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE-Light.eot?#iefix") format('embedded-opentype'), url("http://www.sage.com/na/~/media/responsive/fonts/woff/AdelleSansSAGE-Light.woff") format('woff'), url("http://www.sage.com/na/~/media/responsive/fonts/svg/AdelleSansSAGE-Light.svg#adellelight") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adelleregular';
	src: url("http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE.eot");
	src: url("http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE.eot?#iefix") format('embedded-opentype'), url("http://www.sage.com/na/~/media/responsive/fonts/woff/AdelleSansSAGE.woff") format('woff'), url("http://www.sage.com/na/~/media/responsive/fonts/svg/AdelleSansSAGE.svg#adelleregular") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adellebold';
	src: url('http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE-Bold.eot');
	src: url('http://www.sage.com/na/~/media/responsive/fonts/eot/AdelleSansSAGE-Bold.eot?#iefix') format('embedded-opentype'), url('http://www.sage.com/na/~/media/responsive/fonts/woff/AdelleSansSAGE-Bold.woff') format('woff'), url('http://www.sage.com/na/~/media/responsive/fonts/svg/AdelleSansSAGE-Bold.svg#adellebold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'adelleregular', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
	font-size: 17px;
	line-height: 22px;
	background-color: #fff;
	color: #4d4f53;
}
a, a:link, a:visited {
	color: #4178BE;
	outline: 0 none;
	text-decoration: none !important;
}
.navbar-header {
	/*background: rgba(0, 0, 0, 0) -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;*/
	background: none;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	float: none;
}
h1 {
	visibility: hidden;
	color: #00f9e3;
	font-family: 'adelleregular', sans-serif;
	font-size: 70px;
	font-style: italic;
	font-weight: lighter;
	line-height: 60px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	background-image: none;
	margin: 60px auto 20px;
	padding-top: 150px;
}
h2 {
	color: #51534a;
	font-size: 38px;
	line-height: 40px;
}
h3 {
	color: #ffffff;
	font-size: 23px;
	line-height: 25px;
	margin-bottom: 10px;
	padding: 0 50px;
	text-align: center;
}
h4 {
	color: #51534a;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.header {
	background-position: top center;
	background-color: #eeeeed;
	background-image: url("banner1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
a:hover, a:visited {
	text-decoration: none;
}
.cta {
	background-color: #CA2A60;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	margin: 10px auto;
	padding: 0;
	text-align: center;
	text-decoration: none;
	border: solid 1px #CA2A60;
}
.cta:hover {
	background-color: #A90163;
	border: solid 1px #A90163;
}
.ctatxt {
	border-radius: 0;
	color: #fff;
	display: inline-block;
	padding: 9px 2px 8px 15px;
}
.ctatxt:hover, .cta2txt:hover {
	background-color: transparent;
	color: #fff;
}
.arrow {
	display: inline-block;
	padding: 7px;
	position: relative;
}
.arrow2 {
	display: inline-block;
	padding: 7px;
	position: relative;
	background-color: #CA2A60;
}
.arrow2:hover {
	background-color: none;
}
.cta2 {
	background-color: #CA2A60;
	color: #CA2A60;
	display: inline-block;
	font-size: 18px;
	margin: 10px auto;
	padding: 0;
	text-align: center;
	text-decoration: none;
	border: solid 1px #CA2A60;
}
.cta2:hover {
	background-color: #A90163;
	border: solid 1px #A90163;
}
.cta2txt {
	background-color: #fff;
	border-radius: 0;
	color: #ca2a60;
	display: inline-block;
	padding: 9px 15px;
}
.arrow {
	display: inline-block;
	padding: 7px;
	position: relative;
}
.navbar-nav > li > a {
	font-size: 22px;
	margin: 0 10px;
	border-bottom: solid 2px transparent;
}
.navbar-nav > li > a:hover {
	background-color: transparent;
	border-bottom: solid 2px #fff;
	color: #fff !important;
}
.container {
	padding: 10px;
}
.intro {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.intro p {
	padding: 10px 40px;
}
.boxed1, .boxed2, .boxed3, .boxed4 {
	margin: 10px;
}
.box1, .box2, .box3, .box4, .box {
	display: block;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: relative;
	color: #51534a;
	text-align: center;
	z-index: -1;
	background-size: cover;
	background-position: center center;
}
.box1 h2, .box2 h2, .box3 h2, .box4 h2, .box h2 {
	color: #8E8A86;
	font-size: 18px;
	line-height: 20px;
	margin: 10px auto;
	font-weight: bold;
}
.backgrounds {
	/*background: white;*/
	z-index: 20;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
}
.background {
	z-index: 40;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
	padding-top: 25px;
}
.background, .backgrounds {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 205px;
}
.backgrounds > img {
	margin: 10px;
}
.footerInfo {
	color: #51534a;
	font-size: 11px;
	line-height: 16px;
	padding: 20px 0;
}
ul.social {
	display: inline-block;
	margin: 20px auto;
	padding-left: 0;
}
ul.social li {
	display: inline-block;
	float: left;
	padding: 5px;
}
td, th {
	color: #51534a;
	font-weight: normal;
	padding: 5px;
}
.sage50 {
	background-color: #fff;
	color: #51534a;
	display: block;
	font-size: 30px;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 0;
}
.sage50c {
	background-color: #fff;
	color: #51534a;
	display: block;
	font-size: 30px;
	padding: 15px 20px;
	text-align: center;
	margin-bottom: 0;
}
#sage50 {
	background-color: #fff;
	color: #51534a;
	display: block;
	padding: 10px;
}
#sage50c {
	background-color: #fff;
	color: #51534a;
	display: block;
	padding: 15px;
}
.line {
	border-bottom: solid 2px #f1f1f2;
}
.lines {
	border-left: solid 4px #f1f1f2;
}
.lines > img {
	margin: 5px auto;
}
.pricing-half {
	display: none;
}
.chart {
	padding: 30px 0;
}
.callme {
	color: #00F5E1;
	font-size: 34px;
	font-weight: bold;
	line-height: 36px;
	padding-bottom: 0;
	margin: 5px auto;
}
.modal-header {
	padding: 15px 15px 30px !important;
}
.contactbar, .contactbar2 {
	background-color: #f1f1f2;
	padding: 40px 0 30px;
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 22px;
}
.contactbar {
	background-color: #f1f1f2;
}
.contactbar2 {
	background-color: #41a940;
}
.contactbar h3, .contactbar2 h3 {
	color: #00F5E1;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 10px;
	line-height: 20px;
}
.stripe {
	background-color: #2a3456;
	color: #fff;
	margin: 0;
	padding: 40px 0;
	text-align: center;
	background-image: url(http://images.go.na.sage.com/EloquaImages/clients/SageCorporateInstance/%7b361844ca-75fe-4c2b-b7e4-ce11b591efb7%7d_savenow.jpg);
	background-size: cover;
	background-position: right center;
}
/* Social Media - Icons */

.sage-google {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-google:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-facebook {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-facebook:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-youtube {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-youtube:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-linkedin {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-linkedin:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-twitter {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-twitter:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-instagram {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-instagram:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-city {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-city:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.sage-advice {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sage-advice:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
/* End social CSS */
.windows {
	width: 50%;
	margin: 0 auto;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: inline-block;
}
.carousel-control.left, .carousel-control.right {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: white;
}
.carousel-control {
	width: 0;
}
.carousel-indicators {
	bottom: 10px;
}
.carousel-indicators li {
	border: 1px solid #bab7b5;
}
.carousel-indicators .active {
	background-color: #00DC00;
	border: 1px solid #00DC00;
}
.carousel-inner {
	min-height: 300px;
	top: 100px;
}
.testimonialbar {
	background-image: url(http://images.go.na.sage.com/EloquaImages/clients/SageCorporateInstance/%7b82082876-7a31-40f2-8e03-b36319e55023%7d_BrandRefreshBanner2a.jpg);
	background-size: cover;
}
/* BUTTON STYLES this is for the magenta button  */		

.btn {
	border: 0;
	border-radius: 0px;
	font-size: 18px !important;
	padding: 10px 12px;
	text-align: center;
	white-space: nowrap;
	color: #ffffff;
	text-decoration: none;
	margin: 30px 0;
}
.block .btn {
	margin-bottom: 0;
}
.btnPrimary {
	background-color: #CA2a60;
	color: #fff;
	background-image: url(http://images.go.na.sage.com/EloquaImages/clients/SageCorporateInstance/%7bad9de356-97c4-4763-a717-9265e4e81e97%7d_00000_arrow2.png);
	background-repeat: no-repeat;
	background-position: right;
}
.btnPrimary:hover {
	background-color: #A90163;
	color: #ffffff;
}
ul.checkmarks {
	list-style-type: none;
	text-align: left;
	line-height: 30px;
}
ul.checkmarks li:before {
	content: url("http://images.go.na.sage.com/EloquaImages/clients/SageCorporateInstance/%7b590bf694-c38d-4084-9315-24c921468fe3%7d_check15.png");
	display: inline-block;
	float: left;
	height: 25px;
	position: relative;
	right: 12px;
}
ul.checkmarks li {
	line-height: 22px;
	margin-bottom: 10px;
}
.chart {
	color: #51534a;
	font-family: 'adelleregular', sans-serif;
	font-size: 16px;
	line-height: 18px;
}
.description, .checks {
	display: block;
	padding: 5px;
}
.description {
	text-align: left;
}
.checks {
	text-align: center;
}
.highlight {
	background-color: #eeeeed;
}
.chart .row {
	border-bottom: solid 1px #dcdddb;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.logos {
	display: inline-blocl;
	text-align: center;
	height: 50px;
	margin: 15px 0;
}
.values {
	color: #fff;
	display: block;
	font-weight: bold;
	height: 35px;
	margin: 0;
	padding: 10px;
	width: 100%;
}
.testimonials {
	color: #51534a;
}
h2.testimonials {
	font-size: 24px;
	line-height: 28px;
}
.modal-header {
	padding: 15px 15px 0;
	border-bottom: none;
}
.modal-body {
	padding: 0 30px 30px;
	position: relative;
	color: #4d4f53;
	font-size: 22px;
	line-height: 26px;
}
.polkadot {
	background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
	border-radius: 250px;
	color: white;
	display: table-cell;
	height: 500px;
	width: 500px;
	text-align: center;
	vertical-align: middle;
}
.testitle {
	border-bottom: 1px solid #51534a;
	color: #51534a;
	display: block;
	font-size: 26px;
	line-height: 28px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	text-align: center;
	top: 80px;
	width: 70%;
}
.phonelinks {
	color: #51534a;
	font-size: 17px;
	text-align: right;
	padding-top: 15px;
}
.separate {
	display: none;
}
.offerbar {
	color: white;
	font-size: 30px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	text-transform: none;
	padding: 20px 0 15px;
}
.bulletpad {
	padding-left: 60px;
}
.license {
	display: block;
	font-size: 12px;
	text-align: center;
	margin: 0px auto;
}
.noroll {
	display: block !important;
}
.learnmore {
	color: #CA2A60;
	font-size: 16px;
	font-weight: normal;
}
.hideit {
	display: none !important;
}

@media screen and (min-width: 970px) {
.container {
	width: 970px;
}
}

@media screen and (max-width: 970px) {
h1 {
	font-size: 60px;
	line-height: 60px;
	padding-top: 110px;
}
.background, .backgrounds {
	padding: 5px;
}
.callme {
	font-size: 30px;
}
.logos {
	height: 40px;
}
h2.testimonials {
	font-size: 22px;
	line-height: 26px;
}
.carousel-inner {
	width: 400px;
	height: 400px;
}
.phonelinks {
	text-align: center;
	padding-top: 0;
}
.separate {
	display: inline-block !important;
	padding: 0 7px;
}
.intro p {
	padding: 10px 20px;
}
.offerbar {
	font-size: 23px;
	line-height: 26px;
	padding: 15px 30px;
}
}

@media screen and (max-width: 768px) {
h3 {
	margin-top: 20px;
}
.toggle {
	top: -40px
}
.chart {
	padding: 10px;
}
.chart .row.last {
	border-bottom: none;
}
.item.active > p {
	padding: 0 10px;
}
.background {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 40px;
}
.lines {
	background-color: white;
}
.windows {
	width: 100%;
}
.icon-bar {
	background-color: #fff;
}
.navbar-toggle {
	border-color: #fff;
}
.linebreak {
	white-space: normal;
}
.description {
	text-align: center;
	background-color: #eeeeed;
	border-bottom: 1px solid #dcdddb;
}
.row-eq-height {
	display: block;
}
.highlight {
	border-left: 1px solid #dcdddb;
	border-right: 1px solid #dcdddb;
}
.checks, .highlights {
	padding: 5px 10px;
}
.logos {
	height: 70px;
}
.testimonials {
	text-align: center;
}
.testimonialbar {
	background-image: url(http://images.go.na.sage.com/EloquaImages/clients/SageCorporateInstance/%7b82bf12e7-e80e-4475-bdad-d6e92dca62b8%7d_BrandRefreshBanner2b.jpg);
}
.carousel-control {
	width: 15%;
}
.carousel-inner {
	height: auto;
	width: 100%;
	background: none;
	top: 40px;
}
.testitle {
	top: 20px;
}
.polkadot {
	background: none;
	border-radius: 0;
	color: white;
	display: block;
	height: auto;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.license {
	font-size: 14px;
	margin: 0px auto 20px;
}
.background, .backgrounds {
	min-height: 30px;
}
.box1 h2, .box2 h2, .box3 h2, .box4 h2, .box h2 {
	margin: 10px auto 0;
}
.boxed1, .boxed2, .boxed3, .boxed4 {
	margin: 0;
}
.lastbox {
	margin-bottom: 20px;
}
}

@media screen and (max-width: 650px) {
.navbar-header {
	margin-bottom: 0;
}
h1 {
	font-size: 40px;
	line-height: 40px;
	margin-top: 0;
	padding-top: 90px;
}
.chart {
	padding: 30px 10px;
}
.pricing-half {
	display: table;
}
.pricing-full {
	display: none;
}
.lines, .lines {
	padding: 10px;
	text-align: left;
}
.bulletpad {
	padding-left: 20px;
}
}
